/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: myFirstFont;
  src: url(src/assets/font/PokemonGb-RAeo.ttf);
}

* {
  font-family: myFirstFont;
}

