<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img alt="Logo" class="d-inline-block align-text-top" height="60"
           src="/assets/images/International_Pokémon_logo.svg.png">
    </a>
  </div>
</nav>
<div class="container mt-3 mb-5">
  <app-user-detail></app-user-detail>
</div>

<div class="container mt-3 mb-5">
  <app-pokemon></app-pokemon>
</div>
<div class="container mt-3 mb-5">
  <app-inventaire_egg></app-inventaire_egg>
</div>
<div class="container mb-5">
  <app-egg></app-egg>
</div>
