<div class="container text-center">
  <h1>Marché de Kanto</h1>
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col ">
      <div appBorderCard class="card m-3 shadow-sm" style="width: 18rem;">
        <img [src]="pokemon.picture" alt="..." class="card-img-top p-3">
        <div class="card-body">
          <h5 class="card-title">Oeuf de {{pokemon.name}}</h5>
          <a (click)="BuyPokemon(pokemon)" class="btn btn-primary" href="#">Acheter</a>
        </div>
      </div>

    </div>
  </div>
</div>
